
.detailsContainer{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.movieImage{
    border-radius: 15px;   
}

.title_img{
    margin-top: 0;

    font-size: 3rem;
}

.description{

    max-width: 500px;
    text-align: justify;
  
    
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
}